APP_HOST=192.168.1.246
QUESTIONIT_API_URL=http://localhost:3001
WEB_URL=http://localhost:3000
WEB_PUBLIC_URL=https://questionit.space
DB_HOST=postgres
DB_DATABASE=questionit
DB_USER=questionit
DB_PASSWORD=questionit
POSTGRES_PASSWORD=questionit
APP_SECRET=questionit
REDIS_HOST=redis-single
REDIS_PASSWORD=questionit
VAPID_PUBLIC_KEY=
VAPID_SECRET_KEY=
VAPID_RELATED_EMAIL=
OAUTH_CONSUMER_KEY=
OAUTH_CONSUMER_SECRET=
OAUTH_DEFAULT_TOKEN=
OAUTH_DEFAULT_SECRET=
TWITTER_CALLBACK_URL=http://localhost:3000/t_callback
NODE_ENV=development

# Migration
MIGRATION_DB_HOST=mysql
MIGRATION_DB_DATABASE=questionit
MIGRATION_DB_USER=questionit
MIGRATION_DB_PASSWORD=questionit
