# Local API URL
QUESTIONIT_API_URL=http://localhost:5001
# Local Web URL
WEB_URL=http://localhost:5002
# Shareable Web URL
WEB_PUBLIC_URL=https://questionit.space

# Database config
DB_HOST=postgres
DB_DATABASE=questionit
DB_USER=questionit
DB_PASSWORD=questionit
DB_SUPERUSER=questionitsu
DB_SUPERPASSWORD=questionit
# Initial DB password
POSTGRES_PASSWORD=questionit

# JWT signin secret
APP_SECRET=questionit
# CORS authorization
CORS_ROOT_DOMAIN=questionit.space

# Redis
REDIS_HOST=redis-single
REDIS_PASSWORD=questionit
REDIS_APPENDONLY=yes
REDIS_APPENDFSYNC=always

# VAPID, to send push messages. See https://www.npmjs.com/package/web-push to generate them.
VAPID_PUBLIC_KEY=
VAPID_SECRET_KEY=
VAPID_RELATED_EMAIL=mailto:noreply@questionit.space

# OAuth keys. To fill with your own keys. {TWITTER_CALLBACK_URL} must be whitelisted in callback URLs
# OAUTH_DEFAULT_* are not required, as they are only used in testing
OAUTH_CONSUMER_KEY=
OAUTH_CONSUMER_SECRET=
OAUTH_DEFAULT_TOKEN=
OAUTH_DEFAULT_SECRET=
TWITTER_CALLBACK_URL=http://localhost:5002/t_callback

# Current env
NODE_ENV=production
APP_VERSION=2.0.0

# Migration MySQL configuration
MIGRATION_DB_HOST=mysql
MIGRATION_DB_DATABASE=questionit
MIGRATION_DB_USER=root
MIGRATION_DB_PASSWORD=password
